    body {
        /* background-color: #dbebfa; */
        background-repeat: no-repeat;
        background-size: cover;
          -webkit-transition: background-image 1s ease-in-out; 
          margin:0 auto;
          overflow: auto;
    }
 .results{
     background-color: aliceblue;
     display:none;
 }
.searchForm{
    padding:50px 0 50px 0;
}
    td {
        width: 20%;
    }

    .categorySect {
        display: inline-flex;
        margin-top: 20px;

    }

    .row {
        text-align: center;
        margin-top: 5px;
    }


    .moreInfoBtn {
        margin: 10px 0 10px 0;
    }

    .fa-star {
        color: #e4e932;
    }

    /* picture on modal */
    .restImage{
        margin:30px 0 30px 40%;
    }
