    body {
        /* background-color: #dbebfa; */
        background-repeat: no-repeat;
        background-size: cover;
          -webkit-transition: background-image 1s ease-in-out; 
    }
 .results{
     background-color: aliceblue;
 }

    td {
        width: 20%;
    }

    .categorySect {
        display: inline-flex;
        margin-top: 20px;

    }

    .row {
        text-align: center;
        margin-top: 5px;
    }


    .moreInfoBtn {
        margin: 10px 0 10px 0;
    }

    .fa-star {
        color: #e4e932;
    }
